body{
    color: #203239;
   
}

header{
    background-color: #141E27;
    text-align: center;
    color: #EEEDDE;
    
}
.back-img{
    background-image: url('https://wallpaperaccess.com/full/90278.jpg');
    display: flex;
    width: 100%;
    
}
.row{
   
    
    text-align: center;
}
footer{
    height: 10vh;
    background-color: #141E27;
    color: #E0DDAA;
}



.input-field{
    background-color: whitesmoke;
    margin: 50%;
    height: 60%;
    width:125%;
}
.card{
    background-color:#EEEDDE;
}




.text-field{
    width:40%;
    /* height: 20em; */
    background-color: blanchedalmond;
    z-index:20;
    
}

.img-car-side{
    
}


.img-car-center{
  
}

.mdi{
    color:gray;
    font-size: xx-large;
}

.img-text{
    background-color: none;
    
}


.second-elem{
    background-color:#141E27;
    color:#EEEDDE;
}


